*{
    /* display: flex;
    flex-flow: column wrap; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: darkgrey;
}

nav {
    display: flex;
    /* flex-grow: 1; */
    justify-content: space-around;
    /* border: 0.5vw solid grey; */
    /* border-radius: 2em; */
    /* padding: 1em; */
    /* background-color: grey; */
    /* overflow: hidden; */
    /* position: fixed; */
    width: 100%;
}

.nav-button {
    flex-basis: 25%;
    border: 1vw solid gray;
    border-radius: 2em;
    padding: 2%;
    font-size: 3vw;
}

h1 {
    /* background-color: grey; */
    border: 1.5vw solid gray;
    border-radius: 2em;
    margin: 2px;
    padding: 2%;
    font-size: 6vw;
    /* color: darkgrey; */
}

h2 {
    /* background-color: gray; */
    margin: 2px;
    padding: 1%;
    font-size: 5vw;
    border: 1.5vw solid gray;
    border-radius: 2em;
    /* color: darkgrey; */
}

p {
    font-size: 2.5vw;
    /* background-color: crimson; */
    text-align: center;
    padding: 3px;
    border: 5px;
    margin: 10px;
    max-width: 95%;
}

img {
    max-width: 90%;
    max-height: 500px;
    height: auto;
    padding: 1%;
    border-radius: 20%;
}

li {
    /* background-color:cyan; */
    text-align: center;
    font-size: 3vw;
    padding: 0.25em;
}

form {
    border: 1.5vw solid gray;
    border-radius: 3em;
    margin: 2px;
    padding: 2%;
}

.input-box {
    flex-basis: 25%;
    border: 1vw solid gray;
    border-radius: 2em;
    padding: 2%;
    background-color: white;
    width: 50vw;
}

footer {
    /* background-color: grey; */
    border: 1.5vw solid gray;
    border-radius: 2em;
    margin: 2px;
    padding: 2%;
    font-size: 3vw;
    /* color: darkgrey; */
}